body {
	--nbOr: 1.61803398875;
}

h1 {
	width: 100vw;
	text-align: center;
}

#cardsZone {
	position: relative;
	--nbLines: 4;
	--nbCols: 4;
	--cardWidth: 6vw;
	--cardHeight: calc(var(--cardWidth) * var(--nbOr));
	width: 100vw;
	text-align: center;
}

.cards {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
	width: var(--cardWidth);
	height: var(--cardHeight);
}

.cardImg {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--cardWidth);
	height: var(--cardHeight);
}